In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [2]:
df = pd.read_csv("C:/Users/HP/Desktop/Mhomeprices.csv")
df.head(3)

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000

In [5]:
# Handling missing value
import math
median_bedrooms = math.floor(df.bedrooms.median())
print(median_bedrooms)

3

In [10]:
# Filling median number in missing fields
df.bedrooms = df.bedrooms.fillna(median_bedrooms) 
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [12]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [13]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [14]:
reg.intercept_

383724.99999999994

In [17]:
reg.predict([[3000,3,40]])

c:\python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([444400.])

In [18]:
137.25*3000+-26025*3+-6825*40+383724

444399.0

In [ ]:
# reg.predict([[]])