In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/HP/Desktop/heart.csv")
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [2]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [3]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [4]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [5]:
df['Sex'] = le.fit_transform(df.Sex)

In [6]:
df.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,0,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,1,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,0,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,1,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [7]:
df['ChestPainType'] = le.fit_transform(df.ChestPainType)
df['RestingECG'] = le.fit_transform(df.RestingECG)
df['ExerciseAngina'] = le.fit_transform(df.ExerciseAngina)
df['ST_Slope']= le.fit_transform(df.ST_Slope)

In [8]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [9]:
from scipy import stats
import numpy as np
df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]
df[(np.abs(stats.zscore(df)) > -3).all(axis=1)]
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,1,1,140,289,0,1,172,0,0.0,2,0
1,49,0,2,160,180,0,1,156,0,1.0,1,1
2,37,1,1,130,283,0,2,98,0,0.0,2,0
3,48,0,0,138,214,0,1,108,1,1.5,1,1
4,54,1,2,150,195,0,1,122,0,0.0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1
914,68,1,0,144,193,1,1,141,0,3.4,1,1
915,57,1,0,130,131,0,1,115,1,1.2,1,1
916,57,0,1,130,236,0,0,174,0,0.0,1,1
917,38,1,2,138,175,0,1,173,0,0.0,2,0

In [10]:
from sklearn.preprocessing import StandardScaler
stdScaler = StandardScaler()

In [11]:
dfFinal = stdScaler.fit_transform(df[['RestingBP','Cholesterol','MaxHR','Oldpeak']])

In [12]:
dfFinal = pd.DataFrame(dfFinal,columns=['Scaled_RestingBP','Scaled_Cholesterol','Scaled_MaxHR','Scaled_Oldpeak'])

In [13]:
dfFinal = pd.concat([df, dfFinal], axis=1)

In [14]:
dfFinal

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Scaled_RestingBP,Scaled_Cholesterol,Scaled_MaxHR,Scaled_Oldpeak
0,40,1,1,140,289,0,1,172,0,0.0,2,0,0.410909,0.825070,1.382928,-0.832432
1,49,0,2,160,180,0,1,156,0,1.0,1,1,1.491752,-0.171961,0.754157,0.105664
2,37,1,1,130,283,0,2,98,0,0.0,2,0,-0.129513,0.770188,-1.525138,-0.832432
3,48,0,0,138,214,0,1,108,1,1.5,1,1,0.302825,0.139040,-1.132156,0.574711
4,54,1,2,150,195,0,1,122,0,0.0,2,0,0.951331,-0.034755,-0.581981,-0.832432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,110,264,0,1,132,0,1.2,1,1,-1.210356,0.596393,-0.188999,0.293283
914,68,1,0,144,193,1,1,141,0,3.4,1,1,0.627078,-0.053049,0.164684,2.357094
915,57,1,0,130,131,0,1,115,1,1.2,1,1,-0.129513,-0.620168,-0.857069,0.293283
916,57,0,1,130,236,0,0,174,0,0.0,1,1,-0.129513,0.340275,1.461525,-0.832432
917,38,1,2,138,175,0,1,173,0,0.0,2,0,0.302825,-0.217696,1.422226,-0.832432

In [15]:
dfFinal.drop(['RestingBP','Cholesterol','MaxHR','Oldpeak'],axis=1,inplace=True)

In [16]:
dfFinal

,Age,Sex,ChestPainType,FastingBS,RestingECG,ExerciseAngina,ST_Slope,HeartDisease,Scaled_RestingBP,Scaled_Cholesterol,Scaled_MaxHR,Scaled_Oldpeak
0,40,1,1,0,1,0,2,0,0.410909,0.825070,1.382928,-0.832432
1,49,0,2,0,1,0,1,1,1.491752,-0.171961,0.754157,0.105664
2,37,1,1,0,2,0,2,0,-0.129513,0.770188,-1.525138,-0.832432
3,48,0,0,0,1,1,1,1,0.302825,0.139040,-1.132156,0.574711
4,54,1,2,0,1,0,2,0,0.951331,-0.034755,-0.581981,-0.832432
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,0,1,0,1,1,-1.210356,0.596393,-0.188999,0.293283
914,68,1,0,1,1,0,1,1,0.627078,-0.053049,0.164684,2.357094
915,57,1,0,0,1,1,1,1,-0.129513,-0.620168,-0.857069,0.293283
916,57,0,1,0,0,0,1,1,-0.129513,0.340275,1.461525,-0.832432
917,38,1,2,0,1,0,2,0,0.302825,-0.217696,1.422226,-0.832432

In [17]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

In [18]:
model_params={
    'logistic_regression':{
        'model' : LogisticRegression(solver='liblinear',multi_class='auto'),
        'params' : {
            'C':[1,5,10,19,150]
        }
    },
    'random_forest':{
        'model' :RandomForestClassifier(),
        'params' : {
            'n_estimators':[1,5,10,25,56]
        }
    },
    'svm':{
        'model' : SVC(gamma='auto'),
        'params' : {
            'C':[1,5,10,50,60,100],
            'kernel':['rbf','linear']
        }
    }
    
}

In [19]:
dfFinal

,Age,Sex,ChestPainType,FastingBS,RestingECG,ExerciseAngina,ST_Slope,HeartDisease,Scaled_RestingBP,Scaled_Cholesterol,Scaled_MaxHR,Scaled_Oldpeak
0,40,1,1,0,1,0,2,0,0.410909,0.825070,1.382928,-0.832432
1,49,0,2,0,1,0,1,1,1.491752,-0.171961,0.754157,0.105664
2,37,1,1,0,2,0,2,0,-0.129513,0.770188,-1.525138,-0.832432
3,48,0,0,0,1,1,1,1,0.302825,0.139040,-1.132156,0.574711
4,54,1,2,0,1,0,2,0,0.951331,-0.034755,-0.581981,-0.832432
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,0,1,0,1,1,-1.210356,0.596393,-0.188999,0.293283
914,68,1,0,1,1,0,1,1,0.627078,-0.053049,0.164684,2.357094
915,57,1,0,0,1,1,1,1,-0.129513,-0.620168,-0.857069,0.293283
916,57,0,1,0,0,0,1,1,-0.129513,0.340275,1.461525,-0.832432
917,38,1,2,0,1,0,2,0,0.302825,-0.217696,1.422226,-0.832432

In [20]:
target = dfFinal.HeartDisease
target

0      0
1      1
2      0
3      1
4      0
      ..
913    1
914    1
915    1
916    1
917    0
Name: HeartDisease, Length: 918, dtype: int64

In [21]:
dfFinal.drop(['HeartDisease'],axis=1,inplace=True)
dfFinal

,Age,Sex,ChestPainType,FastingBS,RestingECG,ExerciseAngina,ST_Slope,Scaled_RestingBP,Scaled_Cholesterol,Scaled_MaxHR,Scaled_Oldpeak
0,40,1,1,0,1,0,2,0.410909,0.825070,1.382928,-0.832432
1,49,0,2,0,1,0,1,1.491752,-0.171961,0.754157,0.105664
2,37,1,1,0,2,0,2,-0.129513,0.770188,-1.525138,-0.832432
3,48,0,0,0,1,1,1,0.302825,0.139040,-1.132156,0.574711
4,54,1,2,0,1,0,2,0.951331,-0.034755,-0.581981,-0.832432
...,...,...,...,...,...,...,...,...,...,...,...
913,45,1,3,0,1,0,1,-1.210356,0.596393,-0.188999,0.293283
914,68,1,0,1,1,0,1,0.627078,-0.053049,0.164684,2.357094
915,57,1,0,0,1,1,1,-0.129513,-0.620168,-0.857069,0.293283
916,57,0,1,0,0,0,1,-0.129513,0.340275,1.461525,-0.832432
917,38,1,2,0,1,0,2,0.302825,-0.217696,1.422226,-0.832432

In [22]:
scores =[]
for model_name,mp in model_params.items():
    clf = GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(dfFinal,target)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                     best_params
0  logistic_regression    0.808238                       {'C': 10}
1        random_forest    0.825636            {'n_estimators': 56}
2                  svm    0.820236  {'C': 100, 'kernel': 'linear'}

In [23]:
from sklearn.decomposition import PCA
pca = PCA(0.95)
X=dfFinal
X_pca = pca.fit_transform(X)
X_pca.shape

(918, 2)

In [24]:
scores =[]
for model_name,mp in model_params.items():
    clf = GridSearchCV(mp['model'],mp['params'],cv=5,return_train_score=False)
    clf.fit(X_pca,target)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })
    
df = pd.DataFrame(scores,columns=['model','best_score','best_params'])
df

                 model  best_score                    best_params
0  logistic_regression    0.800659                      {'C': 10}
1        random_forest    0.764641           {'n_estimators': 25}
2                  svm    0.799584  {'C': 50, 'kernel': 'linear'}